parameters:

  ##############################################
  #                                            #
  # Parameters used across all ONAP components #
  #                                            #
  ##############################################

  public_net_id: {{ public_network_id }}

  public_net_name: {{ public_network_name }}

  ubuntu_1404_image: {{ ubuntu_14_04_image }}

  ubuntu_1604_image: {{ ubuntu_16_04_image }}

  flavor_small: {{ flavor_small }}

  flavor_medium: {{ flavor_medium}}

  flavor_large: {{ flavor_large}}

  flavor_xlarge: {{ flavor_xlarge}}

  flavor_xxlarge: {{ flavor_xxlarge }}

  vm_base_name: {{ vm_base_name }}

  key_name: {{ key_name }}

  pub_key: {{ pub_key }}

  nexus_repo: {{ nexus_repo }}

  nexus_docker_repo: {{ nexus_docker_repo}}

  nexus_username: {{ nexus_username}}

  nexus_password: {{ nexus_password}}

  dmaap_topic: {{ dmaap_topic }}

  artifacts_version: {{ artifacts_version }}

  openstack_tenant_id: {{ openstack_tenant_id }}

  openstack_tenant_name: {{ openstack_tenant_name }}

  openstack_username: {{ openstack_username }}

  openstack_api_key: {{ openstack_api_key}}

  openstack_auth_method: {{ openstack_auth_method}}

  openstack_region: {{ openstack_region }}

  horizon_url: {{ openstack_horizon_url }}

  keystone_url: {{ openstack_keystone_url }}

  cloud_env: {{ cloud_env }}


  ######################
  #                    #
  # Network parameters #
  #                    #
  ######################

  dns_list: {{ dns_list | join(',') }}
  external_dns: {{ dns_list.0 }}
  dns_forwarder: {{ dns_list.0 }}
  oam_network_cidr: {{ oam_network_cidr }}

  ### Private IP addresses ###

  aai1_ip_addr: {{ aai1_ip_addr }}
  aai2_ip_addr: {{ aai2_ip_addr }}
  appc_ip_addr: {{ appc_ip_addr }}
  dcae_ip_addr: {{ dcae_ip_addr}}
  dns_ip_addr: {{ dns_ip_addr }}
  so_ip_addr: {{ so_ip_addr }}
  mr_ip_addr: {{ mr_ip_addr }}
  policy_ip_addr: {{ policy_ip_addr }}
  portal_ip_addr: {{ portal_ip_addr }}
  robot_ip_addr: {{ robot_ip_addr }}
  sdc_ip_addr: {{ sdc_ip_addr }}
  sdnc_ip_addr: {{ sdnc_ip_addr }}
  vid_ip_addr: {{ vid_ip_addr }}
  clamp_ip_addr: {{ clamp_ip_addr }}
  openo_ip_addr: {{ openo_ip_addr }}

  dns_public_ip_addr: {{ dns_public_ip_addr }}

  ###########################
  #                         #
  # Parameters used by DCAE #
  #                         #
  ###########################

  dnsaas_config_enabled: {{ dnsaas_config_enabled }}
  dnsaas_region: {{ dnsaas_region }}
  dnsaas_keystone_url: {{ dnsaas_keystone_url }}
  dnsaas_tenant_name: {{ dnsaas_tenant_name }}
  dnsaas_username: {{ dnsaas_username }}
  dnsaas_password: {{ dnsaas_password }}
  dcae_keystone_url: {{ dcae_keystone_url }}
  dcae_centos_7_image: {{ centos_7_image }}
  dcae_domain: {{ dcae_domain }}
  dcae_public_key: {{ dcae_public_key }}
  dcae_private_key: |
{% for line in dcae_private_key.split('\n') %}
    {{ line }}
{% endfor %}

  ################################
  #                              #
  # Docker versions and branches #
  # Generated using onap_openstack_template.env and manifest-to-env.sh
  #                              #
  ################################

  aai_branch: {{ aai_branch }}
  appc_branch: {{ appc_branch }}
  so_branch: {{ so_branch }}
  mr_branch: {{ mr_branch }}
  policy_branch: {{ policy_branch }}
  portal_branch: {{ portal_branch }}
  sdc_branch: {{ sdc_branch }}
  sdnc_branch: {{ sdnc_branch }}
  clamp_branch: {{ clamp_branch }}
  vnfsdk_branch: {{ vnfsdk_branch }}

  aai_docker: {{ aai_docker }}
  aai_sparky_docker: {{ aai_sparky_docker }}
  appc_docker: {{ appc_docker }}
  so_docker: {{ so_docker }}
  dcae_docker: {{ dcae_docker }}
  policy_docker: {{ policy_docker }}
  portal_docker: {{ portal_docker }}
  sdc_docker: {{ sdc_docker }}
  sdnc_docker: {{ sdnc_docker }}
  clamp_docker: {{ clamp_docker }}
  msb_docker: {{ msb_docker }}
  mvim_docker: {{ mvim_docker }}
  uui_docker: {{ uui_docker }}
  esr_docker: {{ esr_docker }}
  dgbuilder_docker: {{ dgbuilder_docker }}
  cli_docker: {{ cli_docker }}

  vfc_nokia_docker: {{ vfc_nokia_docker }}
  vfc_ztevmanagerdriver_docker: {{ vfc_ztevmanagerdriver_docker }}
  vfc_ztesdncdriver_docker: {{ vfc_ztesdncdriver_docker }}
  vfc_vnfres_docker: {{ vfc_vnfres_docker }}
  vfc_vnfmgr_docker: {{ vfc_vnfmgr_docker }}
  vfc_vnflcm_docker: {{ vfc_vnflcm_docker }}
  vfc_resmanagement_docker: {{ vfc_resmanagement_docker }}
  vfc_nslcm_docker: {{ vfc_nslcm_docker }}
  vfc_huawei_docker: {{ vfc_huawei_docker }}
  vfc_jujudriver_docker: {{ vfc_jujudriver_docker }}
  vfc_gvnfmdriver_docker: {{ vfc_gvnfmdriver_docker }}
  vfc_emsdriver_docker: {{ vfc_emsdriver_docker }}
  vfc_catalog_docker: {{ vfc_catalog_docker}}
  vfc_wfengine_mgrservice_docker: {{ vfc_wfengine_mgrservice_docker}}
  vfc_wfengine_activiti_docker: {{ vfc_wfengine_activiti_docker }}

  #####################
  #                   #
  # ONAP repositories #
  #                   #
  #####################
  aai_repo: {{ aai_repo }}
  appc_repo: {{ appc_repo }}
  mr_repo:  {{ mr_repo }}
  so_repo: {{ so_repo }}
  policy_repo: {{ policy_repo }}
  portal_repo: {{ portal_repo }}
  sdc_repo: {{ sdc_repo }}
  sdnc_repo: {{ sdnc_repo }}
  clamp_repo: {{ clamp_repo }}
  vnfsdk_repo: {{ vnfsdk_repo }}
